@import '../../styles/variables.scss';

.polarArea__wrapper {
  min-width: 40%;
  margin: 0 auto;
  display: flex;
  margin-left: 100px;
  @media (max-width: 1200px) {
    display: block;
    margin: 0 auto;
    max-width: 500px;
  }
  @media (max-width: 320px) {
    display: block;
    margin: 0 auto;
    max-width:300px;
  }
}
.diagram {
  margin-bottom: 25px;
}

.text {
  padding-bottom: 50px;
  font-family: $roboto;
  text-align: center;
  color: black;

}
.results__wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  // text-align: center;
  max-width: 1200px;
  background-color: $belge;
  @media (max-width: 1200px) {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
  }

}

.main_page_wrapper {
  display: flex;
  justify-content: center;
  @media(max-width: 1200px) { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-top: 100px;
  }
}

.polarArea__text__wrapper{
  max-width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  // margin-top: 50px;
  @media (max-width: 1200px) {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.result {
  text-align: center;
  margin: 50px 0;
  font-family: $arima;
  color: black;
  text-align: center;
}

.button {
  width: 10%;
  margin: 0 auto;
  position: relative;
  left: 0;
  height: 50px;
  // background-color: $purple;
}

.main_page_title{
  font-size: 50px;
  font-family: $arima;
  padding-bottom: 20px;
  text-align: center;
 
}
.main_page_text{
  font-size: 18px;
  font-family: $roboto;
  text-align: center;
  padding-bottom: 30px;
}

.themeDark {
  background-color: $darkThemeMain;
}

.themeLight {
  background-color: $lightThemeMain;
}

.darkThemeText {
  color: $darkThemeText;
}

.lightThemeText {
  color: $lightThemeText;
}