@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// font-family: 'Roboto', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap");
// font-family: 'Arima', cursive;

@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
// font-family: 'Rubik Moonrocks', cursive;

$roboto: "Roboto", sans-serif;
$arima: "Arima", cursive;
$rubic: "Rubik Moonrocks", cursive;

$brown: #dfbb9d;
$belge: #f7e2d6;
$teal: #9dd6df;
$purple: #a084cf;
